<%- include('parcials/header'); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <input type="text" name="inputValue" value="" placeholder="Enter a new message">
  <button type="submit" name="">Publish</button>
</form>
<%- include('parcials/footer'); -%>
